.Card {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 260px;
    background: tomato;
    margin: 1.5em 0;
    /* margin: 50px 20px; */
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0 4px 7px #999;
    background: linear-gradient(to right, rgb(175, 214, 3), rgb(0, 212, 0));
}

.ToCart {
    position: absolute;
    line-height: 2.5em;
    width: 2em;
    height:2.5em;
    top: 0;
    font-size: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: 0
}
.Card .ToCart:disabled {
    background-color: #777
}
.Card .ToCart:disabled:hover {
    background-color: #777
}

.Card .AddToCart {
    /* border-radius: 0 100px 0 0; */
    right: 20px;
    background-color: rgb(8, 122, 4);
}
.Card .AddToCart:hover {
    background: rgb(8, 122, 4, 0.5);
}
.Card .RemoveFromCart {
    /* border-radius: 100px 0 0 0; */
    left: 20px;
    background-color: rgb(248, 3, 3);
}
.Card .RemoveFromCart:hover {
    background: rgba(255, 0, 0, 0.5);
}
.ImageWrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Card img {
    width: 97%;
    height: 97%;
    border-radius: 97px;
    transition: ease 1s;
}
.Card:hover img {
    width: 110%;
    height: 110%
}

.Text {
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0;
    transition: ease 700ms;
}

.Card:hover .Text {
    width: 100%;
    height: auto;
    margin: auto;
    background: white;
    font-size: 20px;
}
.OrderImg {
    width: 47%
}
@media (max-width: 600px) {
    .Order {
        width: 90%;
        flex-direction: column
    }
    .OrderImg {
        width: 90%;
    }
    .OrderDesc {
        width: 90%
    }
}