.Submit {
    padding: 15px 20px;
    border: solid 2px rgb(140, 179, 64);
    /* margin: 0 auto; */
    font-size: 18px;
    color: inherit;
    background: transparent
}
.Submit:hover {
    background: rgb(140, 179, 64);
}

.Menu {
    width: 100px;
    background: linear-gradient(to right, green, rgb(206, 247, 27));
    border-radius: 80px 0 0 80px ;
    border: 0px;
    box-shadow: -1px 1px 9px rgb(222, 255, 184);
    z-index: 50;
    position: fixed;
    transition: ease 1s;
}
.Menu:hover {
    width: 110px; 
    background: linear-gradient(to right, rgb(206, 247, 27), green);
}

/* Bigger screens */
@media (min-width: 700px) {
    .Menu {
        font-size: 22px;
    }
}

.CheckOut {
    padding: 10px 2rem;
    border: green 2px solid;
    color: green;
    background: transparent;
    text-align: center;
    font-size: 2em
}
.CheckOut:hover {
    background: linear-gradient(to right, green, rgb(206, 247, 27));
    color: wheat;
    border: #f3f4f5 2px solid;
    font-weight: bold;
}
.CheckOut:disabled {
    background: #777;
    color: #fff;
    border: #f3f4f5 2px solid;
}
.CheckOut:disabled:hover {
    font-weight: normal
}

.Order {
    margin: 0 auto;
    border: solid 2px white; 
    color: white;
    font-weight: bold;
    box-shadow: 3px 3px 1px #777;
}
.Order:hover {
    background: white;
    color: #8cb340;
    box-shadow: none;
    position: relative;
    left: 3px;
    top: 3px;
}

.Cancel {
    background: rgb(235, 61, 61);
    font-weight: bold;
}
.Cancel:hover {
    color: rgb(235, 61, 61)
}